<a href="https://colab.research.google.com/github/Guizinx/-Miniprojeto_analise_de_Dados_1/blob/main/Teste_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercício 1:

In [ ]:
x = int(input("selecione qual serâo a quantidade de números presentes no seu arranjo: "))
lista =str(input('sequência de números com um faltando de 1 a {}: '.format(x)))
lista = lista.split()

for b in range(len(lista)):
  lista[b]= int(lista[b])

for n in range(1,x):
  if n not in lista:
    print('A sequência falta {}'.format(n))

selecione qual serâo a quantidade de números presentes no seu arranjo: 2
sequência de números com um faltando de 1 a 2: 1

Exercício 2:

In [ ]:
x = int(input("insira aqui um valor par de botas que temos na caixa: "))
b = False
count = 0

#verificando se o número é par:
while b != True:
  if x%2 != 0:
    x = int(input("insira aqui um valor par de botas que temos na caixa: "))
  else:
    b = True

lista_completa = []
bota = [0,'G']
for y in range(x):
  bota = input ('Digite o numero da bota , dê um espaço e digite o se é (E/D)')
  c = False
  while c == False:
    if len(bota) < 4: 
      bota = str(input ('Digite o numero da bota , dê um espaço e digite o se é (E/D)'))
    else:
      c = True
  bota = list(bota.split())
  bota[0] = int(bota[0])
  bota[1] = bota[1].upper()
  lista_completa.append(bota)

for n in lista_completa:
  for m in lista_completa:
    if n[0] == m[0] and n[1] != m[1]:
      count += 1

print('Temos a possibilidade de fazer {} número de paroes com essas botas: {}'.format(int(count/2) , lista_completa))

insira aqui um valor par de botas que temos na caixa: 2
Digite o numero da bota , dê um espaço e digite o se é (E/D)44 e
Digite o numero da bota , dê um espaço e digite o se é (E/D)44 e
Temos a possibilidade de fazer 0 número de paroes com essas botas: [[44, 'E'], [44, 'E']]

Exercício 3:

In [ ]:
import time
import datetime
from pandas._libs.tslibs.timestamps import Timestamp
import pandas as pd 
import numpy as np
import time

inicio = time.time()

def funcao_validação(x,c):
  a = df.loc[df['Unnamed: 0'] == x, c]
  for n in a:
    y = n
  return(y) 

df = pd.read_excel('/content/Input_Teste_Python_exercicio 3.xlsx')

#transformando os dados
df['Start Time'] = pd.to_datetime(df['Start Time'], format='%d/%m/%Y %H:%M')
df['End Time'] = pd.to_datetime(df['End Time'], format='%Y-%m-%d %H:%M:%S')
df['Date'] = pd.to_datetime(df['Start Time']).dt.date
df = df.groupby(['User Name'], group_keys=True).apply(lambda x: x)
df = df.sort_values(['User Name', 'Start Time'], ascending = [True,True])
df

data_anterior = df.loc[df['Unnamed: 0'] == 1, 'Date']
user_anterior = df.loc[df['Unnamed: 0'] == 1, 'User Name']
y = 0
N = 0

start_temporario = []
stop_temporario = []
user_temporario = []
user = []
start = []
stop = []
datas = []

for m in data_anterior:
  M = m
for n in user_anterior:
  N = n

for x in df['Unnamed: 0']:
  n = funcao_validação(x,'Date')
  d = funcao_validação(x,'User Name')
  if n == M and d == N:
    soma_start = funcao_validação(x, 'Start Time')
    soma_stop = funcao_validação(x, 'End Time')
    soma_user = funcao_validação(x, 'User Name')
    start_temporario.append(soma_start)
    stop_temporario.append(soma_stop)
    user_temporario.append(soma_user)
    M = n
    N = d
  else:
    user.append(user_temporario)
    start.append(start_temporario)
    stop.append(stop_temporario)
    start_temporario = []
    stop_temporario = []
    user_temporario = []
    soma_start = funcao_validação(x, 'Start Time')
    soma_stop = funcao_validação(x, 'End Time')
    soma_user = funcao_validação(x, 'User Name')
    start_temporario.append(soma_start)
    stop_temporario.append(soma_stop)
    user_temporario.append(soma_user)
    M = n
    N = d
  data = funcao_validação(x,'Date')
  datas.append(data)



count = 0
soma_star = []
start_real = []
start.remove(start[0])
stop.remove(stop[0])
start_temporario =[]

for x in start:
  z = stop[count]
  for numero in x:
    if count_3 == 0:
      start_temporario.append(numero)
      count_3 = 1
    elif numero < z[count_2]:
      start_temporario.append(z[count_2])
    else:
      start_temporario.append(numero)
    count_2 = count_2 + 1
  
  start_real.append(start_temporario)
  start_temporario = []
  count = count + 1
  count_3 = 0
  count_2 = 0

count = 0
horas_de_disparo = []
soma = 0

for x in start:
  z = stop[count]
  for r in x:
    horas = z[count_2]-r
    segundos = horas.total_seconds()
    soma = soma + segundos 
    count_2 = count_2 + 1
  horas_de_disparo.append(soma/3600)
  soma = 0
  count = count + 1
  count_2 = 0

lista_final = []
contagem = 0
user.remove(user[0])
contagem_licenca = 0
lista_semifinal = [1]
contagem_data = 0

for x in user:
  if lista_semifinal[0] != (x[0]):
    contagem_licenca = contagem_licenca + 1
  lista_semifinal = []
  lista_semifinal.append(x[0])
  lista_semifinal.append(contagem_licenca)
  lista_semifinal.append(datas[contagem_data])
  lista_semifinal.append(horas_de_disparo[contagem])
  lista_final.append(lista_semifinal)
  contagem = contagem + 1
  contagem_data = contagem_data + 3

df2 = pd.DataFrame (lista_final, columns = ['Username', 'Licença','Data','Tempo de uso'])

print(df2)

df2.to_excel("output.xlsx") 

fim = time.time()
print('\nO tempo que durou todo o código foram {}s'.format(fim - inicio))

   Username  Licença        Data  Tempo de uso
0     Aarão        1  2022-04-09         15.30
1     Aarão        1  2022-08-10         21.45
2     Aarão        1  2022-12-27         17.00
3      Alan        2  2022-02-08         17.90
4      Alan        2  2022-04-09         11.55
..      ...      ...         ...           ...
94     Yara       38  2022-03-11         15.55
95     Yara       38  2022-08-27         13.65
96     Yara       38  2022-09-07         14.60
97     Yuri       39  2022-03-22         13.65
98     Yuri       39  2022-06-10         18.30

[99 rows x 4 columns]

O tempo que durou todo o código foram 0.7060325145721436s

Exercício 4:

In [ ]:
import pandas as pd

df1 = pd.read_excel('/content/Input_Teste_Python_Dados Exercicio 4 I.xlsx')
df2 = pd.read_excel('/content/Input_Teste_Python_Dados Exercício 4 II.xlsx')

df1['Start Time'] = pd.to_datetime(df1['Start Time'], format='%d/%m/%Y %H:%M')
df1['End Time'] = pd.to_datetime(df1['End Time'], format='%Y-%m-%d %H:%M:%S')

df2["Start Time"] = df2['Data Inicio'] +" "+ df2["Hora Inicio"]
df2["End Time"] = df2['Data Termino'] +" "+ df2["Hora Termino"]
df2['Start Time'] = pd.to_datetime(df2['Start Time'], format='%Y-%m-%d %H:%M')
df2['End Time'] = pd.to_datetime(df2['End Time'], format='%Y-%m-%d %H:%M:%S')

df2 = df2.drop(['Data Inicio','Hora Inicio','Hora Termino','Data Termino'], axis= 1)

#verificando se temos duplicadas
df1[df1.duplicated('Start Time')]
df2[df2.duplicated('Start Time')]

merged_left = pd.merge(left=df1, right=df2, how='right', left_on='Start Time', right_on='Start Time')
df = merged_left.drop(['Unnamed: 0_y','User Name','End Time_y'], axis = 1)
df.rename(columns = {'Unnamed: 0_x':'ID_Usuario'}, inplace = True) 
df = df.iloc[:,[0,3,1,2]]
df

    ID_Usuario   Usuario          Start Time          End Time_x
0            0     Luana 2022-10-04 08:38:00 2022-10-06 14:38:00
1            1       Eva 2022-09-28 01:17:00 2022-10-02 15:17:00
2            2  Fernanda 2022-12-22 09:57:00 2022-12-29 17:57:00
3            3    Paloma 2022-03-04 05:26:00 2022-03-13 11:26:00
4            4     Anita 2022-11-12 01:04:00 2022-11-16 15:04:00
..         ...       ...                 ...                 ...
95          95      João 2022-08-13 06:11:00 2022-08-17 18:11:00
96          96     David 2022-10-08 11:23:00 2022-10-23 12:23:00
97          97     Bruno 2022-06-12 10:18:00 2022-06-21 04:18:00
98          98     Aarão 2022-03-19 06:07:00 2022-04-03 02:07:00
99          99    Calebe 2022-02-21 02:40:00 2022-02-22 20:40:00

[100 rows x 4 columns]